.introcardbox{
    min-width: 35rem;
    
}
.introcard{
    display: flex;
    margin: 0 5em;
    border-radius: 15px;
  
    
    &:not(:last-child){
        margin-bottom: 1.2em;
    }
    &-right{
        width: 40%;
        min-width: 16rem;
        order:2;
        text-align: center;
        margin: .5em;
        // background: $gray-yellow;
        // background-image: linear-gradient(to right, $white,$background);
        border-radius: 15px;
        margin: 1em 1em 1em 0;
        box-shadow: $shadow-sml;
        border-left: 3px dashed $gray-l2;
        // border: 1px solid red;
    }
    &-left{
        width: 60%;
        min-width: 25rem;
        display: flex;
        align-items: center;
        background: $gray-yellow;
        background-image: linear-gradient(to right, $background, $white);

        border-radius: 15px;
        margin: 1em 0 1em 1em;
        box-shadow: $shadow-mid;
        
    }
    &-img{
        height: 9em;
        padding:.3em;
        // border: 1px solid green;
    }
    &-title{
        min-width: 4em;
        height: 4em;
        @include browndot;
        color: $white;
        font-size: 1.6rem;
        @include flex-center;
        margin-left: 1.5em;

        &-last{
            background-image: linear-gradient($green-l2 10%,$green-d1);
        }
    }
    &-content{
        width: 70%;
        color: $gray-d;
        font-size: 1.3rem;
        padding: 1em;
        margin-left: 1em;
        
        &-last{
            text-align: center;
            margin-left: -0.5em;
        }
    }
    &-content2{
        color: $brown-dot2;
        &-last{
            font-size: 1.8rem;
        }
    }
}
