.bg{
    width: 100%;
    position: relative;

    &-header{
        height: 40em;
    }
    &-yellow{
        height: 90%;
        width: 100%;
        border-radius: 20px;
        position: absolute; 
        top: 0;
        left: 0;
        background-image: linear-gradient( rgb(255, 227, 143) 2%, $background 30%);
        -webkit-clip-path: polygon(0 0, 65% 0, 255% 100%, 0 100%);
        clip-path: polygon(0 0, 65% 0, 55% 100%, 0 100%);
    }

    &-green{
        height: 80%;
        width: 100%;
        border-radius: 20px;
        position: absolute;
        bottom: 0; 
        left: 0;
        background-image: linear-gradient($green-l1 50%, $green-l3,$green-d1);
        -webkit-clip-path: polygon(0 0, 45% 0 , 65% 100%, 0 100%);
        clip-path: polygon(0 0, 45% 0 , 65% 100%, 0 100%);
    }

    &-section{
        width: 100%;
        padding: 3em 0;
        // background: $background;
        // background-image: linear-gradient(20deg, $green-l1, $white 18%, $white 80%, $green-l1);  
        background-image: linear-gradient( $green-l1, $white 18%, );  
    }

}