.btn-blue{background-image: linear-gradient(to right, blue, lightblue);}
.btn-rainbow{background-image: linear-gradient(to right,red, yellow, green, blue); }
.btn-brown{background-image: linear-gradient(210deg , $brown-dot1, $brown-dot2,$brown-dot3);}