@keyframes circular{
    0%{
        transform: scale(0.8) rotate(0);
    }
    50%{
        transform: scale(1.1) rotate(180deg);
    }
    100%{
        transform: scale(.8) rotate(360deg);
    }

}

@keyframes float{
    50%{
        transform: translateY(1rem);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes float-dot{
    30%{
        transform: translateY(-.8rem)

    }
    70%{
        transform: translateY(1.5rem);
    }

    100%{
        transform: translateY(0);
    }
}
@keyframes float-dot2{
    15%{
        transform: translateY(-1rem)

    }
    60%{
        transform: translateY(2.5rem);
    }

    100%{
        transform: translateY(0);
    }
}



@keyframes float-lid{
    15%{
        transform: translateY(1rem);
        transform: rotate(16deg);
    }
 
    60%{
        transform: translateY(1rem);
        transform: rotate(23deg);

    }
    100%{
        transform: translateY(0);
        transform: rotate(18deg);
    }
}

// SHADOWS //
@keyframes shadow-s{
    50%{
        width: 7rem;
        height: .8rem;
        transform: translateX(1rem);
    }
    100%{
        width: 9rem;
        height: 1rem;
    }
}
@keyframes shadow-m{
    50%{
        width: 9rem;
        
        transform: translateX(0.5rem);
    }
    100%{
        width: 10rem;
        
    }
}
@keyframes shadow-l{
    50%{
        width: 14rem;
        transform: translateX(1rem);
    }
    100%{
        width: 16rem;
    }
}