*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $c-noto;
}
html{
    // background-color: $gray-yellow;
    //    font-size: 18px;
}
.container{
    max-width: 75rem;
    margin: 0 auto;
    // border: 1px solid green;
   
    &-overlay{
        width: 100%;
        height: auto;
        position: absolute;
        top:0;
        left:0;
    }
   
    
}




