//FONT
$c-noto: 'Noto Sans TC', sans-serif;
$e-lato: 'Lato', sans-serif;
$e-flower: 'Indie Flower', cursive;
$e-thick: 'Baloo Bhai', cursive;


//COLORS
$black: #000;
$white: #fff;

$gray-yellow:#ffffeca9;
$gray:#808080;
$gray-l: #d9d9d9;
$gray-l2:#bebebe;
$gray-d:#494949;

$background:#fffaeb;


$green-l1:#b3e0b4;
$green-l2: #a9d18e;
$green-l3: #74b349;
$green-d1: #377a2e;
$green-d2: #4b7430;
$green-d3: #385723;

$brown-red:#c03c00;
$brown-dot3:#9e480e;
$brown-dot2:#ee843b;
$brown-dot1:#f8cbad;






//SHADOW
$shadow-sml: 0 .5rem 1rem rgba($black, .2);
$shadow-mid: 0  1rem 1.5rem rgba($black, .2);
$shadow-lrg: 0 1.5rem 2rem rgba($black, .2);

$shadow-lrg: -.8rem -.3rem .5rem rgba($black, .1);
